<launch>

    <arg name="project" default="lego_loam"/>
    <arg name="robot0"	default="jackal0"/>
    <arg name="robot1"	default="jackal1"/>
    
    <!--- Sim Time -->
    <param name="/use_sim_time" value="true" />

     <!-- Parameters -->
    <rosparam file="$(find lego_loam)/src/Fusion/config/mapfusion.yaml" command="load" />

    <!--- Run Rviz-->
<!--    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lego_loam)/launch/test.rviz" />-->

    <!--- TF -->
    <node pkg="tf" type="static_transform_publisher" name="odom_to_map"  args="0 0 0 0 0 0 /map    $(arg robot0)/odom 10" />
<!--     <node pkg="tf" type="static_transform_publisher" name="odom_to_map2"  args="0 0 0 0 0 0 /map    $(arg robot1)/odom 10" /> -->

    <!--- LOAM robot 0 -->
    <include file="$(find lego_loam)/launch/run_loam.launch" >
	    <arg name="robot" value="$(arg robot0)"/>
    </include>

    <!---LOAM robot 1  -->
    <include file="$(find lego_loam)/launch/run_loam.launch" >
	    <arg name="robot" value="$(arg robot1)"/>
    </include>

</launch>
